body {
    font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    padding: 0;
    margin: 0 1em;
    color: #000000;
    background-color: #ffffff;
}

h1 {
    font-size: 300%;
    margin: 0;
}

input {
    font-size: 99%;
}

form {
    margin: 2em 0;
    font-size: 150%;
    text-align: center;
}

a:link { color: #0000ff; }
a:visited { color: #000099; }
a:active, a:hover { color: #ff0000; }

label {
    cursor: pointer;
}

#footer {
    clear: both;
    width: 60%;
    margin: 3em auto 0;
    color: #666666;
}

#map {
    border: solid 1px #666666;
    float: right;
    margin-bottom: 3em;
}
